<td class="owe-arrow">
          <svg width="300" height="70" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points=" 50,0 78.383,34.383 50,66.766 " fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="50,0 78.383,34.383 50,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points="0,0 28.383,34.383 0,66.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="130,0 158.383,34.383 130,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points="0,0 28.383,34.383 0,66.766" fill="#0f0">
                <animate attributeName="points"
                         from="0,0 28.383,34.383 0,66.766 "
                         to="210,0 238.383,34.383 210,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
            </g>
          </svg></td>