<td class="owe-arrow">
          <svg width="300" height="70" xmlns="http://www.w3.org/2000/svg">
            <g>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="240,0 211.383,34.383 240,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="160,0 131.383,34.383 160,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
              <polyline points=" 300,0 271.617,34.383 300,66.766 " fill="#f00">
                <animate attributeName="points"
                         from=" 300,0 271.617,34.383 300,66.766 "
                         to="80,0 51.383,34.383 80,66.766 "
                         dur="1s"
                         repeatCount="forwards"
                         fill="freeze"/>
              </polyline>
            </g>
          </svg>
        </td>