// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// payment index styles
.owe-arrow {
	margin: auto;
}

.payment-table td {
	font-size: 20px;
	height: 100px;
	vertical-align: middle;
}

@keyframes motion {
	transform: translate(206px, 0) all 3s linear forwards;
}

svg {

}