// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-in-error {
  width: 85%;
  margin: auto;
  .errors {
    list-style-type: none;
  }
}

a, .submit-button {
  text-decoration: none !important;
  background-color: inherit !important;
  color: #666 !important;
  outline: none !important;
  &:hover, .submit-button:hover {
    color: #C9C9C9 !important;
    border-color: #C9C9C9 !important;
  }
  &:visited, .submit-button:visited {
    color: #666;
    outline: none !important;
  }
  &:active, .submit-button:active {
    outline: none !important;
  }
}

.actions {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px !important;
  .submit-button {
    background-color: transparent !important;
  }
}

body {
  background: url("footer_lodyas.png") center fixed;
  margin: auto;
  color: #C9C9C9;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

// login/register widget styles
.panel {
  margin-top: 25%;
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.panel-login {
  .panel-body {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-group {
    margin-bottom: 8px;
  }
}
.panel-login>.panel-heading {
  color: #00415d;
  border-color: #fff;
  text-align:center;
  border: none;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.panel-login>.panel-heading a{
  font-size: 20px;
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #C9C9C9 !important;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn {
  margin-top: 10px !important;
  border-width: 2px !important;
}

.btn-default.active {
  border-color: #C9C9C9 !important
}

.btn-default {
  border-color: #666 !important;
}

.btn-login {
  background-color: #C9C9C9 !important;
  outline: none;
  color: #666 !important;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
}
.btn-login:hover,
.btn-login:focus {
  color: #C9C9C9 !important;
  background-color: #666 !important;
  border-color: #666 !important;
}
.btn-register {
  background-color: #C9C9C9 !important;
  outline: none;
  color: #666 !important;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
}
.btn-register:hover,
.btn-register:focus {
  color: #C9C9C9 !important;
  background-color: #666 !important;
  border-color: #666 !important;
}

